.Header {
  background-color: var(--background-color);
  font-family: "Chango", cursive;
  color: var(--Main-Font-Color);
  font-size: x-large;
  display: flex;
  justify-content: space-between;
}

.homeLink {
  display: flex;
  font-size: large;
  width: 100%;
  font-family: "Chango";
  list-style-type: none;
}
