header {
  background-color: var(--background-color);
  justify-content: flex-end;
  font-family: "Chango", cursive;
  color: var(--Main-Font-Color);
  font-size: x-large;
  display: flex;

  padding-right: 10%;
  margin-left: 300px;
  transform: translateY(60px);
  z-index: 20;
  background-color: transparent;
}

.homeLink {
  display: flex;
  justify-content: flex-start;
  font-size: x-large;
  width: 100vw;
  font-family: "Chango";
  list-style-type: none;
  transform: translateY(-35px);
  margin-right: 350px;
  background-color: transparent;
}
a {
  display: flex;
  justify-content: flex-start;
  background-color: transparent;
}

.finalScore {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-left: 25px;
  font-family: "Chango";
  color: var(--Main-Font-Color);
  background-color: transparent;
  text-shadow: 5px 2px 1px black;
}
.playerScore {
  margin-left: 25px;
  z-index: 20;
  background-color: transparent;
  text-shadow: 5px 2px 1px black;
}
@media (max-width: 500px) {
  header {
    background-color: var(--background-color);
    justify-content: flex-end;
    flex-direction: column;
    font-family: "Chango", cursive;
    color: var(--Main-Font-Color);
    font-size: x-large;
    display: flex;
    padding-bottom: 0px;
    margin-bottom: 0px;
    text-shadow: 5px 2px 1px black;
    padding-right: 10%;
    margin-left: 50px;
    transform: translateY(0px);
    background-color: transparent;
  }

  .homeLink {
    display: flex;
    justify-content: flex-start;
    font-size: x-large;
    width: 100%;
    font-family: "Chango";
    list-style-type: none;
    transform: translateY(-35px);
    margin-right: 50px;
    background-color: transparent;
  }
  a {
    display: flex;
    justify-content: flex-start;
    background-color: transparent;
  }

  .finalScore {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-left: 20px;
    font-family: "Chango";
    color: var(--Main-Font-Color);
    background-color: transparent;
  }
  .playerScore {
    margin-left: 2px;
    background-color: transparent;
    min-width: 150px;
  }
}
