.PlayerName {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  font-family: "Chango";
  padding-left: 30px;
  padding-right: 30px;
}

.ChooseName {
  align-items: center;
  font-family: "Chango";
}
