@import url("https://fonts.googleapis.com/css2?family=Chango&display=swap");

:root {
  --background-color: #16173a;
  --Main-Font-Color: #f7dc6f;
  --Button-backgroud-color: #d4e6f1;
  --Button-font-color: #212121;
  display: flex;
  align-items: center;
  justify-content: center;
}
.div {
  display: flex;
  justify-content: center;
}
body {
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
}

.titre {
  background-color: var(--background-color);
  font-family: "Chango", cursive;
  display: block;
  justify-content: center;
  text-align: center;
  margin-top: 100px;
  font-size: 5rem;
  color: var(--Main-Font-Color);
  text-shadow: -6px 4px 2px rgb(11, 13, 15);
}
footer {
  background-color: var(--background-color);
  font-family: "Chango", cursive;
  color: var(--Main-Font-Color);
  font-size: x-large;
  text-align: center;
}
.Importe-de-appjsx {
  color: var(--Main-Font-Color);
  font-size: x-large;
  text-align: center;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}
h2 {
  color: var(--Main-Font-Color);
}
a {
  color: var(--Main-Font-Color);
  text-decoration: none;
}
